@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
    margin: 0px;
    min-height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.right {
    display: flex;
    height: 48px;
    align-items: center;
    gap: 16px;
}

.body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.container {
    display: flex;
    margin: 72px 215px;
    flex: 1 1 0;
    gap: 64px;
}

.text {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.title {
    font-size: 48px;
    color: #f1f5f4;
    font-weight: 900;
}

.subtext {
    color: snow;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    font-weight: 900;
}


.img {
    display: flex;
    flex: 1 1 0;
    background-color: grey;
    justify-content: flex-start;
}

.hero-secundary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    margin: 28px;
}

.white-container {
    display: flex;
    gap: 36px;
    margin-bottom: 48px;
    flex-wrap: wrap;
}

.info,
.picture {
    width: 150px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.picture {
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 150px;
    box-sizing: border-box;
}

.img-info {
    text-align: center;
}

.gray-section {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 72px 325px;
    align-items: center;
}

.quote-text {
    font-style: italic; 
    font-size: 24px;
    color: #1F2937;
    font-weight: 300;
}

.autor {
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
}

.sky-container {
    display: flex;
    background-color: #3882F6;
    margin: 72px 0px;
    border-radius: 8px;
}

.sky-box {
    display: flex;
    margin: 36px 80px;
    gap: 80px
}

.action-text {
    display: flex;
    flex-direction: column;
    color: white;
}

.phrase {
    font-size: 20px;
    font-weight: 900;
}

.action-button {
    border: 4px solid white;
    border-radius: 8px;
    padding: 8px 24px;
    font-weight: 900;
    align-self: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    background-color: #1F2937;
}

.footer-text {
    color: white;
}

img {
    width: 142.53px;
}

.img img {
    width: 430px;
    height: 200px;
}